@model Shop.Models.CategoryModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div>
    <form action="/AddCategory/Index" enctype="multipart/form-data" method="post">
        <div>
            @Html.TextBoxFor(o => o.CategoryName)
        </div>
        <div>
                        @Html.DropDownListFor(o => o.ParentCategoryId, CategoryList)
@*            @Html.DropDownList("CategoryList", "--Выберите категорию--")*@
        </div>
        <div>
            <button type="submit">Сохранить</button>
        </div>
    </form>
</div>
</body>
</html>
