@model Shop.ViewModels.AddCategoryViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
<div>
    <form action="/AddCategory/Index" enctype="multipart/form-data" method="post" class="form-group">
        <div>
            <label class="label-info" style="width:50%;">
                Название категории:
                @Html.TextBoxFor(o => o.Category.CategoryName, new { @class = "form-control", })
            </label>
        </div>
        <div>
            <label class="label-info" style="width:50%;">
                Родительская категория:
                @Html.DropDownListFor(o => o.Category.ParentCategoryId, Model.CategoriesList, "--Нет--", new { @class = "form-control" })
            </label>
        </div>
        <div>
            <button type="submit" class="btn-default">Добавить</button>
        </div>
    </form>
</div>
</body>
</html>
