@using Shop.Models
@model Shop.ViewModels.AddCategoryViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div>
    <form action="/AddCategory/Index" enctype="multipart/form-data" method="post">
        <div>
            <div>
                Название категории:
            </div>
            <div>
                @Html.TextBoxFor(o => o.Category.CategoryName)
            </div>
        </div>
        <div>
            <div>
                Родительская категория:
            </div>
            <div>
                @Html.DropDownListFor(o => o.Category.ParentCategoryId, Model.CategoriesList, "--Нет--")
            </div>
        </div>
        <div>
            <button type="submit">Добавить</button>
        </div>
    </form>
</div>
</body>
</html>
