<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    @RenderSection("head", false)
</head>
<body>
<div>
    <div id="content">
        <div id="sidebar">
            <h1>Sidebar</h1>
        </div>
        <div id="main">
            @RenderBody()
        </div>
    </div>
</div>
</body>
</html>
